/*font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;*/

/* controlling how the content is displayed */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F3F2;
}

/* header specific styling */
header {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  width: 180px;
  height: 50px;
  margin: 20px 0;
  order: 1;
}

header .idea-color {
  color: #00A79D;
}

header .box-color {
  color: #6D6E71
}

/* input & button styling*/

input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#idea-title-input {
  height: 20px;
  width: 500px;
  margin: 5px 0;
  order: 2;
<<<<<<< HEAD
=======
  outline: none;
>>>>>>> cssStyling
}

#idea-body-input {
  height: 20px;
  width: 500px;
  margin: 5px 0;
  order: 3;
<<<<<<< HEAD
=======
  outline: none;
>>>>>>> cssStyling
}

.save-button {
  height: 40px;
  width: 500px;
  margin: 5px 0 20px;
  order: 4;
  background-color: #00A79D;
  color: #FFFFFF;
  border: none;
<<<<<<< HEAD
=======
  outline: none;
>>>>>>> cssStyling
}

.save-button:hover {
  background-color: #045E55;
<<<<<<< HEAD
=======
  cursor: pointer;
>>>>>>> cssStyling
}

/* Search Results Section Styling */

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  height: 20px;
  width: 500px;
  margin: 30px 0;
  order: 1;
<<<<<<< HEAD
=======
  outline: none;
>>>>>>> cssStyling
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color: #6D6E71;
}

<<<<<<< HEAD
=======
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  color: #939598;
}

>>>>>>> cssStyling
.idea-output {
  width: 500px;
  order: 2;
}

<<<<<<< HEAD
img.delete {
  width: 30px;
  height: 30px;
  order: 2;
=======
.delete {
  background: url(images/delete.svg);
  width: 30px;
  height: 30px;
  float: right;
  outline: none;
  border: none;
  color: none;
}

.delete:hover {
  background: url(images/delete-hover.svg);
  cursor: pointer;
}

.idea-body-output {
  width: 500px;
  order: 3;
  margin: 20px 0;
}

.buttons {
width: 500px;
order: 4;
}

.upVote {
  background: url(images/upvote.svg);
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  color: none;
  margin-right: 10px;
}

.upVote:hover {
  background: url(images/upvote-hover.svg);
  cursor: pointer;
}

.downVote {
  background: url(images/downvote.svg);
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  color: none;
  margin: 0 20px 0 10px;
}

.downVote:hover {
  background: url(images/downvote-hover.svg);
  cursor:pointer;
>>>>>>> cssStyling
}
